# Database
DATABASE_URL="postgresql://user:password@localhost:5432/rahgosha?schema=public"

# NextAuth
NEXTAUTH_URL="https://rahgosha.top"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"

# SMS gateway (kavenegar / melipayamak / sms.ir) - plug in your provider
SMS_API_KEY=""
SMS_SENDER_LINE=""

# Public site
NEXT_PUBLIC_SITE_URL="https://rahgosha.top"
NEXT_PUBLIC_PHONE_MAIN="02100000000"
NEXT_PUBLIC_PHONE_EMERGENCY="09120000000"
NEXT_PUBLIC_WHATSAPP="989120000000"
